<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Template</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- External Css -->
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />

    <!-- Custom Css --> 
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/theme-1.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    

    <!-- Favicon -->
    <link rel="icon" href="../images/favicon.png">
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/icon-114x114.png">


  </head>
  <body>
    
    <div class="ugf-wrapper theme-bg">
      <div class="ugf-content-block">
        <div class="logo">
          <a href="../index.html">
            <img class="light-logo" src="images/logo.png" alt="">
            <img class="dark-logo" src="images/logo-dark.png" alt="">
          </a>
        </div>
        <div class="container-md">
          <div class="row">
            <div class="col-lg-7 offset-lg-5">
              <div class="ugf-content pt270">
                <h2>Login your account</h2>
                <p>Inter yor valid email address and Password to login your account</p>
                <form action="#">
                  <div class="form-group">
                    <label for="inputMail">Eamil Address</label>
                    <input type="email" placeholder="example@domain.com" class="form-control" id="inputMail">
                  </div>
                  <div class="form-group">
                    <label for="inputPass">Password</label>
                    <input type="password" placeholder="Password" class="form-control" id="inputPass">
                  </div>
                  <div class="form-group check-flex mb10">
                    <div class="custom-checkbox mb10">
                      <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                      <label class="custom-control-label" for="customControlValidation1">Remember me</label>
                    </div>
                      <div class="forget-pass mb10">
                        <a href="forget-1.html">Forget password?</a>
                      </div>
                  </div>
                  <button class="btn">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="alternet-access">
          <p>Don't have an account? <a href="register-1.html">Sign up now!</a></p>
        </div>
      </div>
      <div class="ugf-sidebar flex-bottom ugf-sidebar-bg">
        <div class="testimonial-carousel owl-carousel">
          <div class="item">
            <div class="quote">
              <img src="images/quote.png" alt="">
            </div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <h5 class="name">Ronna E. Gomez</h5>
            <span class="designation">CEO, Google</span>
          </div>
          <div class="item">
            <div class="quote">
              <img src="images/quote.png" alt="">
            </div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <h5 class="name">Ronna E. Gomez</h5>
            <span class="designation">CEO, Google</span>
          </div>
          <div class="item">
            <div class="quote">
              <img src="images/quote.png" alt="">
            </div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <h5 class="name">Ronna E. Gomez</h5>
            <span class="designation">CEO, Google</span>
          </div>
        </div>
        <div class="clients">
          <div class="client">
            <img src="images/client/1.png" class="img-fluid" alt="">
          </div>
          <div class="client">
            <img src="images/client/2.png" class="img-fluid" alt="">
          </div>
          <div class="client">
            <img src="images/client/3.png" class="img-fluid" alt="">
          </div>
          <div class="client">
            <img src="images/client/4.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="js/custom.js"></script>
  </body>
</html>