<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Template</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- External Css -->
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />

    <!-- Custom Css --> 
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/theme-1.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    

    <!-- Favicon -->
    <link rel="icon" href="../images/favicon.png">
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/icon-114x114.png">


  </head>
  <body>
    
    <div class="ugf-wrapper flat-grey-bg">
      <div class="ugf-content-block">
        <div class="logo">
          <a href="../index.html">
            <!-- <img class="light-logo" src="images/logo.png" alt=""> -->
            <img class="" src="images/logo-dark.png" alt="">
          </a>
        </div>
        <div class="container-md">
          <div class="row">
            <div class="col-lg-7 offset-lg-5">
              <div class="ugf-content pt150">
                <a href="account-details.html" class="prev-page">Back to Previous</a>
                <h2>Payment details</h2>
                <p>Enter payment information to go next step, Don’t worry it’s optional & skip able !</p>
                <form action="billing.html" class="account-form">
                  <div class="form-group">
                    <label for="inputFname">Card Number</label>
                    <input type="text" placeholder="e.g. 0000 0000 0000 0000" class="form-control" id="inputFname">
                  </div>
                  <div class="form-group">
                    <label for="inputFname">Cardholder Name</label>
                    <input type="text" placeholder="e.g. Jhon Smith" class="form-control" id="inputFname">
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputPhone">Expire Date</label>
                        <input type="text" placeholder="e.g. +99 123 4567 890" class="form-control" id="inputPhone">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputPhone">CCV Code</label>
                        <input type="text" placeholder="e.g. 000" class="form-control" id="inputPhone">
                      </div>
                    </div>
                  </div>
                  <div class="btn-wrap">
                    <button class="btn"><span>Next Step</span> <i class="las la-arrow-right"></i></button>
                    <a href="billing.html">Skip Payment</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ugf-sidebar flex-bottom ugf-sidebar-bg-5 sidebar-steps">
        <div class="steps">
          <div class="step complete-step">
            <span>1</span>
            <p>Email verification</p>
          </div>
          <div class="step complete-step">
            <span>2</span>
            <p>Category</p>
          </div>
          <div class="step complete-step">
            <span>3</span>
            <p>Account Details</p>
          </div>
          <div class="step step-onprocess">
            <span>4</span>
            <p>Payment Details</p>
          </div>
          <div class="step">
            <span>5</span>
            <p>Billing Details</p>
          </div>
        </div>
      </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="js/custom.js"></script>
  </body>
</html>