{% extends "main/base.html" %}
{% load static %}

{% block PageTitle %}Investment Plans{% endblock PageTitle %}
{% block PageHeader %}
<link href="{% static 'main/assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'main/assets/css/components/cards/card.css' %}" rel="stylesheet" type="text/css" />
{% endblock PageHeader %}
{% block ContentTitle %}Investment Plans{% endblock ContentTitle %}


{% block PageContent %}
<br>
<div class="row">
    <div class="col-xl-6">
        <div class="card component-card_9">
            <a target="_blank" href="{% static 'main/assets/img/prop1.jpg' %}">
                <img height="200px" class="card-img-top" src=" {% static 'main/assets/img/prop1.jpg' %}">
            </a>
            <div class="overlay card-body">
                <a href="">
                    </a><h2 class="text-white font-weight-600"><a href=""></a><a class="text-white font-weight-600" href="https://digishares.in/properties/2587-deerfiled-rd-nw-huntsville-all-35874-5" target="_blank">2587 Deerfiled rd Nw, Huntsville, All 35874</a></h2>
                    <p class="text-white font-weight-600"> <i class="fas fa-location-arrow"></i> Rayerbag, Dhaka, Bangladesh</p>
                
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-info ">
                        <tbody>
                            <tr class="table">
                                <td><b>Profit Range:</b> 10</td>
                                <td><b>Loss range:</b> 5</td>
                            </tr>
                            <tr class="table">
                                <td><b>Minimum Invest:</b> <br> 20000</td>
                                <td><b>Maximum Invest:</b> <br> 500,000</td>
                            </tr>
                            <tr class="table">
                                <td><b>Return For:</b> <br> Yearly</td>
                                <td><b>Capital Back:</b> <br> Yes</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="my-2">
         
            <div class="card-body pt-0">
                <button class="btn btn-primary" data-id="5" fdprocessedid="obj0hd">More</button>
                <button class="btn btn-dark" data-id="5" fdprocessedid="obj0hd">Edit/Update</button>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card component-card_9">
            <a target="_blank" href="{% static 'main/assets/img/prop1.jpg' %}">
                <img height="200px" class="card-img-top" src=" {% static 'main/assets/img/prop1.jpg' %}">
            </a>
            <div class="overlay card-body">
                <a href="">
                    </a><h2 class="text-white font-weight-600"><a href=""></a><a class="text-white font-weight-600" href="https://digishares.in/properties/2587-deerfiled-rd-nw-huntsville-all-35874-5" target="_blank">2587 Deerfiled rd Nw, Huntsville, All 35874</a></h2>
                    <p class="text-white font-weight-600"> <i class="fas fa-location-arrow"></i> Rayerbag, Dhaka, Bangladesh</p>
                
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-info ">
                        <tbody>
                            <tr class="table">
                                <td><b>Profit Range:</b> 10</td>
                                <td><b>Loss range:</b> 5</td>
                            </tr>
                            <tr class="table">
                                <td><b>Minimum Invest:</b> <br> 20000</td>
                                <td><b>Maximum Invest:</b> <br> 500,000</td>
                            </tr>
                            <tr class="table">
                                <td><b>Return For:</b> <br> Yearly</td>
                                <td><b>Capital Back:</b> <br> Yes</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="my-2">
         
            <div class="card-body pt-0">
                <button class="btn btn-primary" data-id="5" fdprocessedid="obj0hd">More</button>
                <button class="btn btn-dark" data-id="5" fdprocessedid="obj0hd">Edit/Update</button>
            </div>
        </div>
    </div>
</div>


{% endblock PageContent %}

